<!-- views/home.ejs -->
<!DOCTYPE html>
<html ng-app="QAFlightPicker">
<head>
	<title>QA Flight Application</title>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="assets/vendor/foundation/css/foundation.min.css" />
	<link rel="stylesheet" href="/assets/vendor/foundation/css/normalize.css" />
	<link rel="stylesheet" href="/assets/styles/default.css" />
	<link rel="stylesheet" href="/assets/vendor/foundation-datepicker/stylesheets/foundation-datepicker.css">


	<script src ="/assets/vendor/foundation/js/vendor/modernizr.js"></script>
	<script src="/assets/vendor/jquery/dist/jquery.js"></script>
	<script src="/assets/vendor/angular/angular.js"></script>
	<script src="/assets/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="/assets/vendor/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/assets/vendor/angular-foundation/mm-foundation.js"></script>
	<script src="/assets/vendor/foundation-datepicker/js/foundation-datepicker.js"></script>
	<script src ="/assets/vendor/foundation/js/foundation.min.js"></script>
	<script src ="/assets/vendor/foundation/js/foundation.js"></script>
	<script src ="/assets/vendor/foundation/js/vendor/modernizr.js"></script>
	<script src ="/assets/app/QAFlightPicker.js"></script>
	<script src="/assets/app/login/LoginController.js"></script>
	<script src="/assets/app/signUp/SignUpController.js"></script>
	<script src="/assets/app/header/HeaderController.js"></script>
	<script src="/assets/app/flightSearch/SearchController.js"></script>
	<script src="/assets/app/populateDatabase/PopulateDataBaseController.js"></script>
	<script src="/assets/app/flightSearchResults/FlightSearchResultsController.js"></script>
	<script src="/assets/app/noResults/NoResultsController.js"></script>
	<script src="/assets/app/confirmationScreen/ConfirmationScreenController.js"></script>

</head>
<body>
<script src ="/assets/vendor/foundation/js/foundation.min.js"></script>
<script src ="/assets/vendor/foundation/js/foundation.js"></script>
<script src ="/assets/vendor/foundation/js/vendor/modernizr.js"></script>
<script src="/assets/vendor/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="/assets/vendor/lodash/lodash.min.js"></script>
<script src="/assets/vendor/moment/min/moment.min.js"></script>

<div ng-include="'/assets/app/header/header.html'"></div>
<div ui-view></div>


</body>
</html>