<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>QA Flight Application User Profile</title>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/assets/vendor/foundation/css/foundation.css" />
	<link rel="stylesheet" href="/assets/vendor/foundation/css/foundation.min.css" />
	<link rel="stylesheet" href="/assets/vendor/foundation/css/normalize.css" />
	<script src ="/assets/vendor/foundation/js/vendor/modernizr.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="button small">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="columns small-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

				<p>
					<strong>id</strong>: <%= user._id %><br>
					<strong>email</strong>: <%= user.local.email %><br>
					<strong>password</strong>: <%= user.local.password %>
				</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>