<!-- views/signUp.ejs -->
<!doctype html>
<html>
<head>
	<title>QA Flight Application Signup</title>
	<link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" href="/assets/vendor/foundation/css/foundation.css" />
	<link rel="stylesheet" href="/assets/vendor/foundation/css/foundation.min.css" />
	<link rel="stylesheet" href="/assets/vendor/foundation/css/normalize.css" />
	<script src ="/assets/vendor/foundation/js/vendor/modernizr.js"></script>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="columns small-6 small-offset-3">

		<h1><span class="fa fa-sign-in"></span> Signup</h1>

		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
		<div class="alert label round"><span class="fa fa-warning"></span> <%= message %></div>
		<% } %>

		<!-- LOGIN FORM -->
		<form action="/signup" method="post">
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password">
			</div>

			<button type="submit" class="button large">Signup</button>
		</form>

		<hr>

		<p>Already have an account? <a href="/login">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>

</div>
</body>
</html>