<html ng-app="QAFlightPicker" ng-controller="ConfirmationScreenController as confirmationScreen">
<div class="container">
    <div class="middle-pane">
        <h1>Confirm Flight Booking</h1>
        <div class="flight">
            <h4>Departing Flight</h4>
            <div class="title">
                {{ confirmationScreen.selectedDepartFlight.departingAirportName }} <span class="fa fa-arrow-right"></span> {{ confirmationScreen.selectedDepartFlight.destinationAirportName }}
            </div>
            <div class="subtitle">
                Price: ${{ confirmationScreen.selectedDepartFlight.price }}
            </div>
            <div class="subtitle">
                Arrival: {{ confirmationScreen.selectedDepartFlight.departingDate | formatAsDateDetail }}
            </div>
            <div class="subtitle">
                Departure: {{ confirmationScreen.selectedDepartFlight.arrivingDate | formatAsDateDetail }}
            </div>
            <div class="subtitle">
                Total Flight Time: {{ confirmationScreen.selectedDepartFlight.arrivingDate | formatTimeDifference:confirmationScreen.selectedDepartFlight.departingDate}}
            </div>
        </div>
        <div class="flight" ng-show="confirmationScreen.isRoundTrip()">
            <h4>Arriving Flight</h4>
            <div class="title">
                {{ confirmationScreen.selectedReturnFlight.departingAirportName }} <span class="fa fa-arrow-right"></span> {{ confirmationScreen.selectedReturnFlight.destinationAirportName }}
            </div>
            <div class="subtitle">
                ${{ confirmationScreen.selectedReturnFlight.price }}
            </div>
            <div class="subtitle">
                {{ confirmationScreen.selectedReturnFlight.departingDate | formatAsDateDetail }}
            </div>
            <div class="subtitle">
                {{ confirmationScreen.selectedReturnFlight.arrivingDate | formatAsDateDetail }}
            </div>
            <div class="subtitle">
                Total Flight Time: {{ confirmationScreen.selectedReturnFlight.arrivingDate | formatTimeDifference:confirmationScreen.selectedReturnFlight.departingDate}}
            </div>
        </div>
        <div class="flight">
            <div class="title">
                Total Price:
            </div>
            <div class="subtitle">
                ${{ confirmationScreen.totalPrice }}
            </div>
        </div>
        <button class="button success" ng-click="confirmationScreen.saveItinerary()">Confirm</button>
        <button class="button alert" ng-click="confirmationScreen.backToResults()">Back</button>
    </div>
</div>
</html>



