<html ng-app="QAFlightPicker" ng-controller="FlightSearchResultsController as flightSearchResults">
<div class="container">
        <h1>Flights Found</h1>
        <small class="error" ng-show="flightSearchResults.missingFlightSelection">Missing Flight Selection</small>
        <div class="left-pane list">
            <h4 ng-show="flightSearchResults.selectingDepartingFlight()">Departing Flights</h4>
            <h4 ng-show="!flightSearchResults.selectingDepartingFlight()">Returning Flights</h4>
                <div class="flight"
                     ng-repeat="flight in flightSearchResults.getFlightsToDisplay()"
                     ng-class="{ selected: flightSearchResults.isSelectedFlight(flight) }"
                     ng-click="flightSearchResults.selectedFlight = flight;">
                    <div class="title">
                        {{ flight.departingAirportName }} <span class="fa fa-arrow-right"></span> {{ flight.destinationAirportName }}
                    </div>
                    <div class="subtitle">
                        Price: ${{ flight.price }}
                    </div>
                    <div class="subtitle">
                        Departure: {{ flight.departingDate | formatAsDateDetail }}
                    </div>
                    <div class="subtitle">
                        Arrival: {{ flight.arrivingDate | formatAsDateDetail }}
                    </div>
                    <div class="subtitle">
                        Total Flight Time: {{ flight.arrivingDate | formatTimeDifference:flight.departingDate}}
                    </div>
                </div>
        </div>
    <footer class="top-bar footer">
        <section class="top-bar-section footer">
            <ul class="left">
                <li class="name" ng-show="!flightSearchResults.selectingDepartingFlight()">
                    <a ng-click="flightSearchResults.backToDepartingFlights()">Back</a>
                </li>
            </ul>
            <ul class="right">
                <li class="name">
                    <a ng-click="flightSearchResults.submitFlightsToConfirm()">Submit Flight(s)</a>
                </li>
            </ul>
        </section>
    </footer>
</div>
</html>



