    <div class="container" ng-controller="SearchController as search">
        <div class="small-block-grid-4 small-offset-4">
            <h1>Destination and Date Information</h1>
            <li class="columns small-6 left ">
                <h3><span class="fa fa-plane"></span> Flying From</h3>
                <select id="airportFrom" class="small customDrop" ng-model="search.departAirport">
                    <option value="" ng-hide="true" disabled selected>Select Departing Airport</option>
                    <option ng-repeat="departAirport in search.airportList">{{ departAirport.code }}</option>
                </select>
                <h3><span class="fa fa-plane"></span> Flying To</h3>
                <select id="airportTo" class="small customDrop" ng-model="search.arriveAirport">
                    <option value="" ng-hide="true" disabled selected>Select Destination Airport</option>
                    <option ng-repeat="arriveAirport in search.airportList">{{ arriveAirport.code }}</option>
                </select>
                <span></span>
                <span class="small-offset-1">
                    <input type="radio" ng-model="search.flightType" value="roundTrip" id="fTypeRoundTrip" ng-checked="true" ng-change="search.isRoundTrip()">
                    <label for="fTypeRoundTrip">Round Trip</label>
                    <input type="radio" ng-model="search.flightType" value="oneWay" id="fTypeOneWay" ng-change="search.isRoundTrip()">
                    <label for="fTypeOneWay">One Way</label>
                </span>
            </li>
            <li class="columns small-6 left">
                <h3><span class="fa fa-calendar departDP" ng-click="search.departDatePicker()"></span> Departure Date</h3>
                <input type="text" class="departDP" id="departDP" ng-model="search.departDate" placeholder="Select Departure Date">

                <h3 class="returnDP"><span class="fa fa-calendar returnDP"  ng-click="search.retDatePicker()"></span> Returning Date</h3>
                <input type="text" class="returnDP" id="returnDP" ng-model="search.retDate" placeholder="Select Returning Date">

                <label>Number of Passengers</label>
                <select id="numPassengers" class="small smallDrop" ng-model="numPassengers" ng-options='num for num in search.ints'>
                    <option disabled selected="selected" value="">#</option>
                </select>
                <span></span>
            </li>
        </div>
        <div class="columns small-6 small-offset-3 right">
            <a class="button small block" ng-click="search.submitSearch()"><span class="fi-page-search"></span>Search for Flights</a>
        </div>
    </div>
